<?xml version="1.0" encoding="UTF-8"?>


<long-life-spammers>
  <user-accounts>
    <account>
      <user-name>hrdeatheaters@gmail.com</user-name>
      <password>admin123</password>
      <tag>外汇</tag>
      <tag>美容</tag>
      <tag>婚庆</tag>
    </account>
  </user-accounts>

  <app-accounts>
    <account id="test">
      <consumer-key>722861218</consumer-key>
      <consumer-secret>1cfbec16db00cac0a3ad393a3e21f144</consumer-secret>
    </account>
  </app-accounts>
</long-life-spammers>
